process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'ghcr.io/sa-lee/nf-str:latest'
    eh_catalog = "${projectDir}/catalogues/ExpansionHunter_hg38.json"
    scattr_catalog = "${projectDir}/catalogues/scattr_hg38.tsv"
    atarva_bed = "${projectDir}/catalogues/STRchive-disease-loci.hg38.atarva.bed.gz"
    straglr_bed = "${projectDir}/catalogues/STRchive-disease-loci.hg38.straglr.bed"
    longtr_bed = "${projectDir}/catalogues/STRchive-disease-loci.hg38.longTR.bed"
    trgt_bed = "${projectDir}/catalogues/STRchive-disease-loci.hg38.TRGT.bed"
    strkit_catalog="${projectDir}/catalogues/STRkit_pathogenic_assoc.hg38.tsv"
    
}

// downloading from public s3 buckets without credentials
aws {
    client {
        anonymous = true 
    }
}

profiles {
    
    // miltion hpc cluster with apptainer
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://ghcr.io/sa-lee/nf-str:latest'
        errorStrategy = { 'ignore' }
    }
    
    // biobank clouds (AoU = google cloud, GEL = aws)
    cloud {
        docker.enabled = true
        process.container = 'ghcr.io/sa-lee/nf-str:latest'
        process.executor = 'google-batch'  // or awsbatch
    }
}
